$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", 
       "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$backgroundColor: #1e293b;
$activeBackgroundColor: #5274ac;
$backgroundLight: #263340;
$white: #ffffff;
$border: #708090;
$primaryColor: #60a5fa;
$activeBorder: #3b82f6;
$grayText: #9ca3af;
$danger: #dc2626;
$dangerHover: #dc262670;
$gray: #6b7280;
$grayDark: #404349;
$activeBg: #404349;

// 🔹 **반응형 디자인을 위한 Breakpoints 설정**
$breakpoint-mobile: 360px;
$breakpoint-tabletToMobile: 600px;
$breakpoint-tablet: 720px;
$breakpoint-laptopToTablet: 960px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1500px;

// 🔹 **반응형 Mixin 정의**
@mixin xsMobile {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $breakpoint-mobile) and (max-width: #{$breakpoint-tabletToMobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) and (max-width: #{$breakpoint-laptop - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $breakpoint-laptop) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
